<div class="d-sm-flex align-items-center justify-content-center mb-4">
    <h1 class="text-center h3 mb-0 text-gray-800">
        <i class="fab fa-wpforms"> </i>
        <b> Forms </b>
    </h1>
</div>

<div id="accordion" class="border-0">
    <div class="card border-0">
        <div class="card-header bg-white" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-outline-warning" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Form-NgModel
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <app-form-ng-model></app-form-ng-model>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-header bg-white" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-outline-warning" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseOne">
                    Reactive Form
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <app-reactive-forms></app-reactive-forms>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>