<div class="card shadow mb-4">
    <div class="card-header">
        <h6 class="text-warning">
            <i class="fas fa-user-plus"> </i> <b> Formulario Reactivo... </b>
        </h6>
    </div>

    <div class="card-body p-0">
        <div class="row">
            <div class="col-lg-12">
                <div class="p-3">
                    <small class="m-0 font-weight-bold text-danger" *ngIf="gReactiveFormValid">
                        <i class="fas fa-info-circle"> </i> Los campos con (*) son requeridos...
                    </small>
                    <br />

                    <form [formGroup]="ReactiveForm" (ngSubmit)="onSave()">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="col-md-12 col-form-label" for="DateCreate"> Fecha de Creación: </label>
                                <div class="col-md-12">
                                    <input name="fechaCreacion" class="form-control form-control-user" type="date"
                                        formControlName="DateCreate" required />
                                    <small *ngIf="gDateCreateValid" class="text-danger">
                                        <b>* Campo Requerido: </b> Fecha Obligatoria!
                                    </small>
                                    <br />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="col-md-12 col-form-label" for="Name"> Nombre: </label>
                                <div class="col-md-12">
                                    <input name="Name" type="text" class="form-control form-control-user"
                                        placeholder="Nombre..." title="Nombre" formControlName="Name" required />
                                    <small *ngIf="gUsernameValid" class="text-danger">
                                        <b>* Campo Requerido: </b> Nombre Obligatorio!
                                    </small>
                                    <br />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="col-md-12 col-form-label" for="Email"> Email: </label>
                                <div class="col-md-12">
                                    <input name="Email" type="email" class="form-control form-control-user"
                                        placeholder="email@email.com" title="Email" formControlName="Email" required />
                                    <small *ngIf="gEmailValid" class="text-danger">
                                        <b>* Campo Requerido: </b> Email Obligatorio!
                                    </small>
                                    <br />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="col-md-12 col-form-label" for="Password"> Password: </label>
                                <div class="col-md-12">
                                    <input name="Password" type="password" class="form-control form-control-user"
                                        placeholder="Contraseña..." title="Contraseña" formControlName="Password"
                                        required />
                                    <small *ngIf="gPasswordValid" class="text-danger">
                                        <b>* Campo Requerido: </b> Contraseña Obligatoria!
                                    </small>
                                    <br/>
                                </div>
                            </div>

                            
                        <div class="col-md-12 form-group row ml-0" formGroupName="Address">
                            <label class="col-md-12 col-form-label" for="Address"> Direccion: </label>
                            <div class="col-md-6">
                                <input name="Street" type="text" placeholder="Calle..." class="form-control form-control-user" title="Calle"
                                    formControlName="Street" required />
                                    <small *ngIf="gAddressStreetValid" class="text-danger">
                                        <b>* Campo Requerido: </b> Calle Obligatoria!
                                    </small>
                                    <br/>
                            </div>
                            <div class="col-md-6">
                                <input name="Avenue" type="text" placeholder="Avenida..." class="form-control form-control-user" title="Avenida"
                                    formControlName="Avenue" required />
                                    <small *ngIf="gAddressAvenueValid" class="text-danger">
                                        <b>* Campo Requerido: </b> Avenida Obligatoria!
                                    </small>
                                    <br/>
                            </div>
                        </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-4 mb-3 mb-lg-0 offset-lg-4">
                                <button class="btn btn-danger btn-user btn-block text-white" title="Cancelar"
                                    (click)="onReset()">
                                    <i class="fas fa-times-circle"></i> Cancelar
                                </button>
                            </div>
                            <div class="col-lg-4 mb-3 mb-lg-0">
                                <button type="submit" class="btn btn-primary btn-user btn-block text-white"
                                    title="Guardar" [disabled]="ReactiveForm.invalid">
                                    <i class="fas fa-save"></i> Guardar
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>